#my_geodes_header {
	padding-top: 140px;
	text-align: center;
	color: white;
}

#my_geodes_subheader {
	text-align: center;
	color: whitesmoke;
}

#gem_sorting_options {
	color: snow;
	padding: 0 50px;
}

#my_geodes {
	margin: 32px 16px;
	color: white;
}

#my_geodes td {
	text-align: center;
	border: none;
}

#geode_qty_modal td, #gem_modal td {
	border: none;
}

#gem_modal .modal {
	margin-top: 150px;
	width: 1000px;
	max-width: 80%;
	background: #1e1e23;
	padding: 0px;
	border: none;
}

#gem_modal .content {
	max-height: inherit;
	border-radius: 6px;
}

#gem_modal .centerImg
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 3%;
	width: 700px;
}

#gem_modal .gemModalFooterTable {
	margin: 0px;
	background-color: #14141B;    
	border-collapse: unset;
    padding-bottom: 20px;
    padding-top: 20px;
}

#gem_modal .gemInfoModalWorkshop{
	font-weight: bold;
	padding: 5px; 
	text-align: center; 
	color: #e5e5ee;
}

#gem_modal .energyGemInfoModalWorkshop {
	font-weight: bold;
	padding: 5px; 
	text-align: center; 
	color: #ff00cd;
}

#geode_bought_modal .modal {
	width: 400px;
	text-align: center;
}

#metamask_info_modal .modal {
	width: 400px;
	text-align: center;
}

#wrong_network_modal .modal {
	width: 400px;
	text-align: center;
}

#goto_workshop_btn {
	width: 300px;
	height: 104px;
	margin-bottom: 4px;
	outline: none;
	background: url('https://rawgit.com/CryptoMinerWorld/crypto-miner/master/web/Go-To-Workshop-Button-300w.png') no-repeat;
}

/* initial workshop state: loading */
#WorkshopNoGems, #WorkshopNoMetamask, #WorkshopMetamaskLocked, #WorkshopWrongNetwork {
	display: none;
}
