#my_geodes_header {
	padding-top: 1em;
	text-align: center;
	color: white;
}

#my_geodes_subheader {
	text-align: center;
	color: whitesmoke;
}

#gem_sorting_options {
	color: snow;
	padding: 0 50px;
}

#my_geodes {
	margin: 32px 16px;
	color: white;
}

#my_geodes td {
	text-align: center;
	border: none;
}

#geode_qty_modal td, #gem_modal td {
	border: none;
}

/* initial workshop state: loading */
#pg-951-1, #pg-951-2, #pg-951-3 {
	display: none;
}
